{% include 'navbar.html' %}

<div>
    <a href="{% url 'add_auction' %}">Auction an existing product</a>
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <label for="images">Upload Images:</label>
            <input type="file" name="images" id="images" multiple>
            <!-- add required later -->
    
            <button type="submit">Add Product</button>
            <!--<input type="submit", value="Submit">-->
        </form>
    </div>
</div>

