{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'add_auction' %}" class="btn btn-outline-secondary">Auction an Existing Product</a>
    </div>

    <div class="shadow p-4 rounded bg-light">
        <h2 class="mb-4">Add New Product</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mb-3">
                <label for="images" class="form-label">Upload Images:</label>
                <input type="file" name="images" id="images" multiple class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Add Product</button>
        </form>
    </div>
</div>

{% endblock %}
