{% include 'navbar.html' %}

<div>
    <h1>{{auction.product.name}}</h1>
    <h2>Seller: <a href="{% url 'userProfile' auction.product.owner.id %}">{{ auction.product.owner.username }}</a></h2>
    <p>Description: {{ auction.product.description }}</p>
    <p>Status :{{ auction.status }}</p>
    <br>
    <p>Base Price: {{auction.product.base_price}}</p>
    <p>Higest Bid: {{auction.higest_bid}}</p>
    <br>
    <p>Auction Start: {{ auction.start_time }}</p>
    <p>Auction End: {{ auction.end_time }}</p>
    <br>
</div>

<div>
    {% if request.user == auction.winner and now >= auction.end_time %}
    {% if form %}
        <h3>Leave a Review</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="review_submit">Submit Review</button>
        </form>
    {% else %}
        <p>You have already submitted a review for this auction.</p>
    {% endif %}
    {% endif %}
</div>

<div>
    <h2>Item Images</h2>
    <p>Image Count: {{ auction.product.images.count }}</p>
    {% for image in auction.product.images.all %}
            <img src="{{ image.image.url }}" alt="Product Image" width="200">
        {% empty %}
            <p>No images available.</p>
    {% endfor %}
</div>

<div>
    {% if request.user.is_authenticated %}
        {% if now >= auction.start_time and now < auction.end_time %}
            <form method="POST", action="">
                {% csrf_token %}
                <label for="bid">Your Bid:</label>
                <input type="number" name="bid_amount" id="bid" step="0.01" placeholder="Enter Bid Amount" required>
                <button type="submit" value="Submit">Place Bid</button>
            </form>
        {% endif %}
    {% endif %}
</div>

<div>
    <h2>Bid History</h2>
    {% for bid in bids %}
        <div>
            <small>@{{ bid.bidder.username }} - {{ bid.bid_time|timesince }} ago</small>
            <p>Bid Amount: {{ bid.bid_amount }}</p>
            <hr>
        </div>
    {% empty %}
        <p>No bids yet. Be the first to bid!</p>
    {% endfor %}
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
    {% endif %}
</div>


