{% include 'navbar.html' %}

<div>

    <h1>{{ user.username }}</h1>

    {% if request.user == user %}   
        <a href="{% url 'won_auctions' request.user.id %}">View Your Won Auctions</a>
    {% endif %}


    <div>
        <h2>Auctions</h2>
        {% for auction in auction %}
            <a href='/item/{{auction.id}}'>{{auction.product.name}}</a>
            <br>
            <p>Higest Bid: {{ auction.higest_bid }}</p>
            <br>
            <p>Status: {{ auction.status }}</p>
            <hr>
            {% empty %}
                <p>No Auctions Placed</p>
        {% endfor %}
    </div>

    <div>
        <h3>Seller Reviews:</h3>
        {% for review in reviews %}
            <p><strong>Rating:</strong> {{ review.rating }}/5</p>
            <p><strong>Comment:</strong> {{ review.comment }}</p>
            <hr>
            {% empty %}
                <p>No reviews yet.</p>
        {% endfor %}
    </div>

</div>